:root {
    --primary-color: #8a1538;
    --secondary-color: #8a1538;
    --white: #fff;
    --black: #121214;
    --card-border-title-color: #8a1538;
    --card-color-primary: #b61c4a; 
    --card-bg-color:#E1E1E6;
    --bg: url(../assets/bg-red-light.jpg);
}