* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #8a1538;
    --secondary-color: #8a1538;
    --white: #fff;
    --black: #121214;
    --card-border-title-color: #8a1538;
    --card-color-primary: #b61c4a; 
    --card-bg-color:#E1E1E6;
    --bg: url(./assets/bg-red-light.jpg);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--card-bg-color);
}

:focus {
    outline: none !important;
}

body {
    position: relative;
    background-color: var(--black);
    background-image: var(--bg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

body * {
    font-family: 'Roboto', sans-serif;
}

#top-bar {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
}

#top-bar ul {
    display: flex;
}

#top-bar ul li {
    display: flex;
    padding: 0 16px;
    height: 40px;
}

#top-bar ul li:hover, #top-bar ul li.active {
    background-color: var(--card-color-primary);
}

#top-bar ul li a {
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .4px;
    align-self: center;
}

#app {
    width: fit-content;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

header {
    text-align: center;
    user-select: none;
}

#menu {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

#menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    z-index: 9999;
    flex-wrap: wrap;
}

#menu ul li svg {
    width: 20px;
    height: 40px;
    fill: var(--card-bg-color);
}

#menu ul li:hover svg {
    fill: var(--primary-color); 
}

.button-left {
    transform: translateX(0.4px);
}

.button-right {
    transform: translateX(-0.4px);
}

#menu ul li a {
    font-size: 14px;
    font-weight: 700;;
    text-transform: uppercase;
    display: flex;
}

.btn.btn-primary {
    background: var(--card-bg-color);
    display: flex;
    align-items: center;
    padding: 0px 2px;
    color: var(--primary-color);
}

#menu ul li:hover .btn.btn-primary {
    color: #E1E1E6;
    background: var(--primary-color);
}

#btn-mobile {
    display: none;
    background-color: var(--card-bg-color);
    padding: 4px 4px 0px 4px;
    border-radius: 4px;
    z-index: 9997;
    margin-bottom: 4px;
}

.card {
    padding: 32px 23px;
    text-align: center;
    background: var(--card-bg-color);
    border-bottom: 2px solid var(--card-color-primary);
    border-radius: 6px;
}

.card h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 16px;
    border: 1px solid var(--card-border-title-color);
    border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 40px;
    color: var(--primary-color);
}

.card h2 span {
    color: var(--secondary-color);
    font-size: 14px;
    text-transform: uppercase;
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 270px;
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card ul li figure {
    flex: 1;
}

.card ul li figure img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.card ul li figure figcaption {
    color: #333;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    /* white-space: nowrap; */
}

.card ul li + li {
    padding-top: 24px;
    border-top: 1px solid #c1c1c1;
}

.card ul li .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8px;
    flex: 0;
}

.card ul li .info strong {
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
    color: var(--secondary-color);
}

.card ul li .info span {
    font-size: 10px;
    line-height: 12px;
    color: #787878;
}

.card h2:hover,
.card ul li .info:hover, 
.card ul li figure:hover {
    transform: scale(1.1);
}

.card h2,
.card ul li .info, 
.card ul li figure {
    transition: transform 0.3s ;
}

.card {
    opacity: 0;
    animation: appear 0.2s forwards;
}

@keyframes appear {
    0% {
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
    }
}

.swiper {
    max-width: 1012px;
    padding-top: 80px !important;
    /* margin-top: -64px; */
    margin-top: -48px;
    margin-bottom: 48px;

}

.swiper-wrapper {
    margin-inline: auto !important;
    width: fit-content !important;
}

.games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start ;
    gap: 16px;
    margin-top: 32px;
    max-width: 648px;
    margin-inline: auto;
}

@media (min-width: 526px) {
    .card {
        width: fit-content !important;
    }
}

@media (max-width: 525px) {
    header {
        margin-bottom: 16px;
        max-width: 375px;
        margin-inline: auto;
    }

    .swiper {
        max-width: 320px;
    }

    #menu {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    
    #menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #btn-mobile {
        display: block;
    }

    #menu-fases {
        display: none !important;
    }

    #menu.active #menu-fases {
        display: flex !important;
    }

    #menu.active ul li {
        opacity: 0;
        animation: appear 0.2s forwards;
    }

}

@media (min-width: 525px) and (max-width: 1012px) {
    .swiper {
        max-width: 648px;
        padding-inline: 15px;
    }

    #menu ul {
        max-width: 72%;
    }
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: "" !important;
}

.swiper-button-next, .swiper-button-prev {
    top: 24px !important;
    z-index: 9997 !important;
    background: var(--card-bg-color);
    width: 48px !important;
    height: 48px !important;
    border-radius: 6px;
    user-select: none;
}

footer {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

footer p {
    color: var(--white);
    font-size: 14px;
    line-height: 20px;
}

footer p a {
    color: var(--card-color-primary);
}